{% extends "base.html" %}
{% load static %}

{% block title %} Blog | {{ block.super }} {% endblock %}

{% block content %}

<div class="wrapper">
    <div class="container-tight">
      <h1 id="last-posts">Últimas postagens</h1>
      <div class="blog-container">
      {% for post in posts %}
      <div class="post-container">
	<a class="post-title" href="{% url 'post_detail' pk=post.pk slug=post.slug %}"><h2>{{ post.title}}</h2></a>
	{% if post.published_date %}
	<div class="published-date">
	    {{ post.published_date }}
	</div>
	{% endif %}

	<div class="post-content">{{post.content|truncatechars_html:280|safe}}</div><a class="read-more" href="{% url 'post_detail' pk=post.pk slug=post.slug %}">Continuar lendo</a>
	
	<span class="post-category">Em:&nbsp;<p>{{ post.tag }}</p></span>
      </div>
      {% endfor %}

    </div>
      <div class="category-container">
	<h2>Categorias</h2>
	<ul>
	  {% for tag in tags %}
	  <li><a href="{% url 'tag_filter' slug=tag.slug %}">{{ tag.title }}</a></li>
	{% endfor %}
	</ul>
      </div>
  </div>
</div>

{% endblock %}
