@import "utils/geral",
	"utils/nav";

@import "sections/blog",
	"sections/about",
	"sections/resources",
	"sections/footer";

@import "components/btn";

.chan-list {

    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px lighten(#977, 30%);
    padding: 1em;
    li {
	display: inline-block;
    }

    li a {
	color: #977;
	transition: color .5s;
	font-size: 1.2em;
	text-decoration: none;

	&:hover {
	    color: #799; 
	    text-decoration: underline;
	}
    }

    span {
	color: lighten(#977, 20%);
	font-size: 1.3em;
    }


}

#divider {

    color: #99777755; 
}

.resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.3em;
    padding-bottom: 2em;
}

.resource-instance {
    box-sizing: border-box;
    background-color: white;
    padding: 1em;
    margin-top: 1em;
    box-shadow: 1px 1px 3px 1px lighten(#977, 30%);
    flex-basis: 100%;
    @media screen and (min-width: 768px) {
	flex-basis: 50%; 
    }
    @media screen and (min-width: 970px) {
	flex-basis: 32.3%;
    }
}
.category-title {
    color: darken(#977, 10%);
    font-weight: normal;
}

.resource-list {
    list-style: none;
    margin-left: 0.3em;
    padding: 0;

}

.resource-item {

    a {
	color: #977;
	text-decoration: none;
	transition: color .4s;
	&:hover {
	    color: #799;
	    text-decoration: underline;
	}
    }
}

#Estudos {
    order: 0;
}

#Comércio {
    order: 1;
}

#Hosting
{
    order: 2;
}

