// overview
.project-container {
    font-family: $sc;
    display: block;
    min-height: 45%;

    .project {
	height: 10em;
	display:block;
	vertical-align: top;
	padding: 1em;
	background-color: $foreground-color;
	box-shadow: 1px 1px 3px 1px lighten($primary-text-color, 30%);
	margin-bottom: 1.5em;
    }
    .project:last-child {
	margin-bottom: 0;
    }
    .websites ul{ 
	list-style: none;
	padding: 0;
	a {
	    text-decoration: none;
	    color: $primary-text-color;
	    &:hover {
		text-decoration:underline;
		color:$primary-hover-color;
	    }
	}
    }

    .threeD ul{
	padding: 0;
	list-style: none;
	a {
	    color: $primary-text-color;
	    text-decoration: none;
	    &:hover {
		text-decoration:underline;
		color:$primary-hover-color;
	    }
	}
    }

}

// albums
.album-img {
    text-decoration: none;
}
.album-wrapper {
    padding-bottom: 2em;
}
@media screen and (min-width: $small-bp) {

    .album-wrapper {
	width: 95%;
    }
    .obj3d {
	width: 49%;
    }
}

@media screen and (min-width: $large-bp) {
    .album-wrapper {
	width: 70%;
	margin: auto;
    }

    .obj3d {

	display: inline-block;
	width: 30%;
	object-fit: cover;
	height: 300px;
    }
}

