{% extends "base.html" %}
{% load static %}

{% block title %} Blog | {{ block.super }} {% endblock %}

{% block content %}

<div class="wrapper">
  <a class="back-button" href="{% url 'blog' %}">&#11013; Voltar</a>
  <h1>Postagens em: <span class="tag-filter">{{tag}}</span></h1>
    <div class="container-tight">
      <div class="blog-container">
      {% for post in posts %}
	{% if post.published_date %}
      <div class="post-container">
	<a class="post-title" href="{% url 'post_detail' pk=post.pk slug=post.slug %}"><h2>{{ post.title}}</h2></a>
	<div class="published-date">
	    {{ post.published_date }}
	</div>

	<p>{{post.content|truncatechars_html:280|safe}}<a class="read-more" href="{% url 'post_detail' pk=post.pk slug=post.slug %}">Continuar lendo</a></p>
	
      </div>
	{% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
