{% extends "base.html" %}
{% load static %}

{% block title %} Projetos | {{block.super}} {% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Projetos</h1>
    <div class="container-tight">
	<div class="project-container">
	    <div class="project websites">
		<h2>Websites</h2>
		<ul>
		{% for site in websites %}
		<li><a href="{{site.url}}">{{site.title}}</a></li>
		{% endfor %}
		</ul>
	    </div>
	    <div class="project threeD">
		<h2>3D</h2>
		<ul>
		{% for album in albums %}
		    <li><a href="{% url 'album_filter' slug=album.slug %}">{{album.title}}</a></li>
		{% endfor %}
		</ul>
	    </div>
	</div>
    </div>
</div>
{% endblock %}
