{% extends "base.html" %}

{% block title %} para gerenciar minha vida | {{block.super}} {% endblock %}

{% block content %}


{% if not user.is_authenticated %}

<p>
    Bom. Interessante. Esta parte do site não foi feita exatamente para você, mas não há mal que dela saiba. Criei esta página para facilitar minha vida.
    <br />
    Talvez ela facilite a sua também.
</p>


{% endif %}

	<!-- navbar | 4chan | TODO: Adicionar link para página com gráfico da bolsa/criptomoedas -->
	<div class="wrapper">
	    <div class="container">
	      <ul class="chan-list">
		<span>
		  [
		    {% for chan in chans %}
		  <li>
		    <a target="_blank" href="http://boards.4chan.org/{{chan.initials}}/catalog">{{chan.initials}}</a></li> {% if not forloop.last %} / {% endif %}
		  {% endfor %}
		  ]
		</span>
	      </ul>
	      <div class="resources">
		{% for category in categories %}
		<div class="resource-instance" id="{{category.title}}">
		  <h2 class="category-title">
		    {{category}}
		  </h2>
		  <ul class="resource-list">
		  {% for resource in resources %} 

		  {% if resource.category == category %}
			    <li class="resource-item">
			    <a target="_blank" href="{{resource.url}}">{{resource.name}}</a>
			    </li>

			{% endif %}

		    {% endfor %}
		  </ul>
		</div>
		{% endfor %}
		</div>
	    </div> 
	</div>

{% endblock %}
