.back-button {
  text-decoration: none;
  color: $primary-text-color;
  display: inline-block;
  font-size: 1.5em;
  padding-bottom: 1em;
  transition: color .4s ease-out; }
  .back-button:hover {
      color: darken($primary-hover-color,20%);
  }

