<!doctype html>
{% load staticfiles %}

<html>
    <head>
    <title>{% block title %} Eu sou o Paulo. Olá. {% endblock %}</title>
        <meta name="viewport" content="width=device-width">

            <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya+Sans+SC|Alegreya:399,800,800i" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
        <div class="container">
        <ul class="main-nav">
            <li><a href="{% url 'index' %}">início</a></li>
            <li><a href="{% url 'blog' %}">blog</a></li>
            <li><a href="{% url 'about' %}">sobre</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'manager' %}">Painel</a></li>
            {% endif %}
        </ul>

            {% block content %}

            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="container">
            <p>v. 1.2.3 <br>Desenvolvido, orgulhosamente, com <a target="_blank" href="https://www.djangoproject.com/">Django</a>.</p>
            <a rel="license" class="cc-license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
        </div>
    </footer>

    </body>
</html>
